@use "./variables" as *;

@mixin font-neue-montreal {
  font-family: 'PPNeueMontreal-Book', sans-serif;
}

@mixin font-zagma-mono {
  font-family: 'F37ZagmaMonoTrial-Book', monospace;
}

@mixin section-border-y {
  border-top: 1px solid $introducing-card-bg;
  border-bottom: 1px solid $introducing-card-bg;
}

@mixin section-border-x {
  border-left: 1px solid $introducing-card-bg;
  border-right: 1px solid $introducing-card-bg;
}
